/* header button style and align */
header {
    overflow: hidden;
  }
  header img {
    width: 100%;
   height: auto;
  }

  /*h1 style the h1*/
h1 {
    font-family:monospace;
    text-align: center;
    text-decoration-line: underline;
    font-size: 20px;
}

/* body makeover */
body {
  font-family: monospace;
  text-align: center;
font-weight:bolder;
}


/* images to be responsive to screensize */
.responsive {
  width: 100%;
  height: auto;
}

/* FOOTER */
.footer {
  font-family: monospace;
  font-size: larger;
  padding: 20px;
  text-align: center;
  background: white;
  color: black;
 
}