/*h1 style the h1*/
h1 {
    font-family:monospace;
    text-align: center;
    text-decoration-line: underline;
    font-size: 20px;
}

/* header button style and align */
header {
    overflow: hidden;
  }
  header img {
    width: 100%;
   height: auto;
  }

/* paragraph */
p {
    font-family: monospace;
    text-align: center;
}



/* container stylingggg */
.container {
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
    align-items: stretch;
}


/* button styling jack black*/
  .button {
    background-color:white;
    margin: 0px 0px;
    padding: 8px 15px;
    text-align: left;
    color: black;
    font-size: 100%;
    font-family: Geneva;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
    
}

/* button hover style */
.button:hover {
    background-color:black;
    color: white;
    text-decoration: none;
}


/* button2 styling food*/
.button2 {
    background-color:white;
    margin: 0px 0px;
    padding: 8px 15px;
    text-align: center;
    color: lightskyblue;
    font-size: 100%;
    font-family: Geneva;
    font-weight: bold;
    font-size: 40px;
}
/* button2 hover style */
.button2:hover {
    background-color:lightblue;
    color:lightpink;
}


/* button 3 styling melodies*/
.button3 {
    background-color:white;
    margin: 0px 0px;
    padding: 8px 15px;
    text-align: right;
    color: palegreen;
    font-size: 100%;
    font-family: Geneva;
    font-weight: bold;
    font-size: 40px;
}
/* button 3 hover style */
.button3:hover {
    background-color:yellow;
    color: red;
}

/* button4 styling idiotbox*/
.button4 {
    background-color:white;
    margin: 0px 0px;
    padding: 8px 15px;
    text-align: center;
    color: red;
    font-size: 100%;
    font-family: Geneva;
    font-weight: bold;
    font-size: 40px;
}
/* button4 hover style */
.button4:hover {
    background-color:red;
    color: silver;
}

/* button5 styling creators*/
.button5 {
    background-color:white;
    margin: 0px 0px;
    padding: 8px 15px;
    text-align: left;
    color: plum;
    font-size: 100%;
    font-family: Geneva;
    font-weight: bold;
    font-size: 40px;
}


/* button5 hover style */
.button5:hover {
    background-color:orange;
    color: yellow;
}

body {
    background-color: white;
    text-align: center;
}



/* contact fooooooooorm */
.contactform{
    width:fit-content;
    height:fit-content;
    margin:auto;
    border: 3px pink;
    border-style: ridge;
    border-radius: 1px;
    text-align: center;
    font-family: cursive;
}
     
.thingy{
    padding: 2px;
    height:fit-content;
    width: fit-content;
    align-content: center;
  }

/* FOOTER */
.footer {
    font-family: monospace;
    font-size: larger;
    padding: 20px;
    text-align: center;
    background: white;
    color: black;}